<div class="input-group">
  <input type="text" class="form-control" ng-model="keywords" placeholder="Hotel name..." />
  <span class="input-group-btn">
    <button class="btn btn-default" ng-click="search()" type="button">Search</button>
  </span>
</div>

<br />

<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="hotel in hotels">
    <div class="thumbnail">
      <a href="#/hotels/{{hotel.id}}">
        <img ng-src="{{mapImageURL(hotel)}}" alt="hotel image">
        <div class="caption">
          <h4>{{hotel.name}}</h4>
          <p>{{hotel.address}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
