<div id="policy">
  <h3>Privacy Policy</h3>
  <p>
    Our Privacy Policy was last updated and posted on Feb 6th 2014. 
    MapClipper follows all legal requirements to protect your privacy. 
    Our Privacy Policy is a legal statement that explains how we may collect information from you, how those information are stored.
  </p>
  <h4>Information collection and use</h4>
  <p>
    In order to integrate MapClipper with Evernote you have to explicitly authorize it. 
    You can do so from MapClipper's map saving dialog, using the authorization mechanism provided by Evernote itself. 
    Once authorized, MapClipper will implement the integration by accessing to your Evernote notes and integrating them with clipped Google Maps images.
  </p>
  <p>
    MapClipper will never make a full copy of your Evernote notes in its servers. 
    The only personal information we collect is your Evernote's user name. 
    When you clipped a map into Evernote, we collect the latitude and longitude of the location at the same time. 
    We use your user name and those location information for us to do statistic only. 
  </p>
  <h4>Where is your data stored</h4>
  <p>
    MapClipper's servers are located in the United States:
  </p>
  <p>
    Your user name information is stored in your browser cookie. 
    While the storage of map location information is done using a dedicated DigitalOcean server.
  </p>
  <h4>Data security</h4>
  <p>
    We are committed to protect the security of your information:
  </p>
  <p>
    Your user name information is stored in your browser cookie in encryption format. 
    We won't sell, rent or exchange your personal information with any third party under any circumstance.
  </p>
  <p>
    We use the services of DigitalOcean for storing your data. 
    In addition to our own measures, both MapClipper and DigitalOcean are devoted to providing highly reliable and secure systems.
  </p>
  <h4>Privacy policy updates</h4>
  <p>
    We reserve the right to modify this Privacy Policy at any time. 
    You should review this Privacy Policy frequently. 
    If we make material changes to this policy, we may notify you on our Website. 
    We will also change the "Last Updated" date at the beginning of this Privacy Policy. 
    Any changes we make to our Privacy Policy are effective as of this Last Updated date and replace any prior Privacy Policies.
  </p>
  <p>
    Questions About Our Privacy Practices or This Privacy Policy. 
    If you have any questions about our Privacy Practices or this Policy, please contact us.
  </p>
</div>
